<html>
<head>
    <meta name="referrer" content="no-referrer" />
    <title>敌人信息</title>
    <link rel="stylesheet" href="/assets/css/common.css" />
    <style>
        #main {
            background-color: #323332;
            width: 656px;
            height: auto;
            position: absolute;
        }
        td {
            color: white;
            background-color: #323332 !important;
        }
        #base {
            width: 656px;
            border-spacing: 0;
        }
        #base td {
            text-align: center;
            border: solid 1px #595858;
        }
        #name {
            font-size: 25px;
            font-weight: 600;
        }
        .level {
            width: 656px;
            border-spacing: 0;
        }
        .level td {
            text-align: center;
            border: solid 1px #595858;
        }
        .title {
            font-size: 22px;
            font-weight: 600;
        }
        img {
            width: 158px;
        }
        a {
            color: white;
        }
        .term {
            color: white !important;
        }
        .mdi-play-circle::before {
            content: "▶";
        }
        .mdi-circle-slice-5::before {
            content: "🕓";
        }
    </style>
</head>
<body>
<div id="main">
    <table id="base">
        <tr>
            <td colspan="8" id="name">{{.Name}}</td>
        </tr>
        <tr>
            <td><img src="{{.Pic}}" onerror="this.src='assets/common/amiya.png'"/></td>
            <td colspan="7">{{.Desc}}</td>
        </tr>
        <tr>
            <td colspan="2">种类</td>
            <td colspan="2">地位级别</td>
            <td colspan="2">攻击方式</td>
            <td colspan="2">行动方式</td>
        </tr>
        <tr>
            <td colspan="2">{{.EnemyRace}}</td>
            <td colspan="2">{{.EnemyLevel}}</td>
            <td colspan="2">{{.AttackType}}</td>
            <td colspan="2">{{.Motion}}</td>
        </tr>
        <tr>
            <td colspan="8" style="font-size: 20px;font-weight: 600;">能力</td>
        </tr>
        <tr>
            {{.Ability}}
        </tr>
    </table>
    {{range $i, $v := .Levels}}
    <table class="level">
        <tr>
            <td class="title" colspan="6">级别{{$i}}</td>
        </tr>
        <tr>
            <td class="title" colspan="6">描述</td>
        </tr>
        <tr>
            <td colspan="6">{{.Desc}}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">攻击方式</td>
            <td style="white-space: nowrap;">{{.AttackType}}</td>
            <td style="white-space: nowrap;">行动方式</td>
            <td style="white-space: nowrap;">{{.Motion}}</td>
            <td style="white-space: nowrap;">生命恢复速度</td>
            <td style="white-space: nowrap;">{{.HpRecovery}}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">最大生命值</td>
            <td style="white-space: nowrap;">攻击力</td>
            <td style="white-space: nowrap;">防御力</td>
            <td style="white-space: nowrap;">法抗</td>
            <td style="white-space: nowrap;">攻击范围半径</td>
            <td style="white-space: nowrap;">重量</td>
        </tr>
        <tr>
            <td>{{.HP}}</td>
            <td>{{.ATK}}</td>
            <td>{{.DEF}}</td>
            <td>{{.Res}}</td>
            <td>{{.ATKRadius}}</td>
            <td>{{.Weight}}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">移动速度</td>
            <td style="white-space: nowrap;">攻击间隔 </td>
            <td style="white-space: nowrap;">损伤抗性</td>
            <td style="white-space: nowrap;">元素抗性</td>
            <td style="white-space: nowrap;">基础嘲讽等级</td>
            <td style="white-space: nowrap;">进点损失</td>
        </tr>
        <tr>
            <td>{{.MoveSpeed}}</td>
            <td>{{.Interval}}</td>
            <td>{{.DamageRes}}</td>
            <td>{{.ElementRes}}</td>
            <td>{{.Ridicule}}</td>
            <td>{{.Point}}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">异常抗性</td>
            <td colspan="5">{{.Abnormal}}</td>
        </tr>
    </table>
    <table class="level">
        {{if .Skills}}
        <tr>
            <td colspan="6" style="font-size: 20px;font-weight: 600;">技能</td>
        </tr>
        <tr>
            <td>名称</td>
            <td>冷却时间</td>
            <td>技力消耗</td>
            <td colspan="3">效果</td>
        </tr>
        {{range .Skills}}
        <tr>
            <td style="white-space: nowrap;">{{.Name}}</td>
            <td style="white-space: nowrap;">{{.SpInit}}</td>
            <td style="white-space: nowrap;">{{.SpCost}}</td>
            <td colspan="3">{{.Desc}}</td>
        </tr>
        {{end}}
        {{end}}
        {{if .Talent}}
        <tr>
            <td colspan="6" style="font-size: 20px;font-weight: 600;">天赋&能力</td>
        </tr>
        <tr>
            <td colspan="6">{{.Talent}}</td>
        </tr>
        {{end}}
    </table>
    {{end}}
</div>
</body>
</html>
