<html>
<head>
    <meta name="referrer" content="no-referrer" />
    <title>寻访模拟</title>
    <style>
        body {
            margin: 0;
        }
        .main {
            position: absolute;
            width: 1024px;
            height: 576px;
            padding-left: 25px;
            background-image: url("/assets/headhunt/bg.png");
            background-size: contain;
        }
        .bg {
            display: inline-block;
            height: 270px;
            margin-top: 130px;
            padding-top: 100px;
            background-size: cover;
        }
        .operator {
            display: inline-flex;
            justify-content: center;
        }
        .lh {
            width: 95px;
        }
        .profession {
            position: absolute;
            margin-top: 190px;
        }
        .rarity {
            position: absolute;
            height: 20px;
        }
    </style>
</head>
<body>
<div class="main">
    {{range .}}
    <div class="bg" style="background-image: url('/assets/headhunt/back_{{.Rarity}}.png');">
        <div class="operator">
            <img class="lh" src="{{.ThumbURL}}"/>
            <img class="profession" src="/assets/headhunt/{{.Profession}}.png"/>
            <img class="rarity" src="/assets/headhunt/Rarity_{{.Rarity}}.png"/>
        </div>
    </div>
    {{end}}
</div>
</body>
</html>