<html>
<head>
    <meta name="referrer" content="no-referrer" />
    <title>当前状态</title>
    <style>
        body {
            margin: 0;
        }
        .main {
            position: absolute;
            width: 1092px;
            height: 510px;
            background-image: url("/assets/state/bg.png");
            background-color: #2e3031;
        }
        #avatar {
            width: 54px;
            margin-top: 34px;
            margin-left: 34px;
        }
        #name {
            color: white;
            font-size: 30px;
            position: absolute;
            margin-left: 10px;
            margin-top: 45px;
        }
        #ap_icon {
            margin-top: 146px;
            position: absolute;
            margin-left: -52px;
        }
        #ap {
            font-size: 30px;
            color: white;
            margin-left: 146px;
            margin-top: 50px;
        }
        #complete {
            font-size: 21px;
            color: white;
            margin-left: 145px;
            margin-top: -20px;
            position: absolute;
        }
        progress {
            width: 410px;
            height: 11px;
            border-radius: 1px;
        }
        progress::-webkit-progress-value{
            background: white;
        }
        #lower_item {
            display: flex;
            align-items: center;
            margin-left: 460px;
            margin-top: -100px;
            font-size: 25px;
            color: white;
        }
        #lower_item svg {
            margin-left: 30px;
        }
        #lower_progress {
            margin-left: 460px;
            margin-top: -18px;
        }
        #higher_item {
            display: flex;
            align-items: center;
            margin-left: 460px;
            margin-top: 28px;
            font-size: 25px;
            color: white;
        }
        #higher_item svg {
            margin-left: 30px;
        }
        #higher_progress {
            margin-left: 460px;
            margin-top: -18px;
        }
        .reward {
            margin-left: 130px;
        }
        #campaign_icon {
            position: absolute;
            margin-top: -140px;
            margin-left: 65px;
        }
        #campaign {
            color: white;
            font-size: 20px;
            position: absolute;
            margin-left: 75px;
            margin-top: -25px;
        }
        #recruit_icon {
            margin-top: 65px;
            margin-left: 49px;
        }
        .title {
            font-size: 25px;
            color: white;
        }
        #recruit_title {
            margin-left: 120px;
            margin-top: 62px;
            position: absolute;
        }
        #recruit {
            position: absolute;
            margin-left: 330px;
            margin-top: 62px;
        }
        #tired_chars_icon {
            margin-top: 55px;
            margin-left: 49px;
        }
        #tired_chars_title {
            margin-left: 115px;
            margin-top: 58px;
            position: absolute;
        }
        #tired_chars {
            position: absolute;
            margin-left: 325px;
            margin-top: 58px;
        }
        #tradings_icon {
            margin-left: 460px;
            margin-top: -234px;
            position: absolute;
        }
        #tradings_title {
            position: absolute;
            margin-left: 520px;
            margin-top: -234px;
        }
        #tradings {
            position: absolute;
            margin-left: 780px;
            margin-top: -234px;
        }
        #manufactures_icon {
            margin-left: 460px;
            margin-top: -42px;
            position: absolute;
        }
        #manufactures_title {
            position: absolute;
            margin-left: 520px;
            margin-top: -39px;
        }
        #manufactures {
            position: absolute;
            margin-left: 780px;
            margin-top: -39px;
        }
        #trainee {
            position: absolute;
            margin-left: 922px;
            margin-top: -164px;
            width: 130px;
        }
        #remain_secs_bg {
            position: absolute;
            margin-left: 923px;
            width: 133px;
            height: 25px;
            margin-top: -55px;
            background: black;
            opacity: 0.5;
        }
        #remain_secs {
            position: absolute;
            margin-left: 960px;
            color: white;
            display: flex;
            align-items: center;
            margin-top: -53px;
        }
        #building_name {
            position: absolute;
            margin-left: 945px;
            color: white;
            font-size: 30px;
            margin-top: -23px;
        }
    </style>
</head>
<body>
<div class="main">
    <img id="avatar" src="https://web.hycdn.cn/arknights/game/assets/char_skin/avatar/{{urlquery .Avatar}}.png"/>
    <span id="name">Dr {{.PlayerName}}</span>
    <img id="ap_icon" src="/assets/state/ap.png">
    <P id="ap">{{.Ap.Current}}/{{.Ap.Max}}</P>
    <P id="complete">
        {{if ge .Ap.Current .Ap.Max}}
        理智已全部恢复
        {{else}}
        {{.Ap.RecoverTs}}
        {{end}}
    </P>
    <p id="lower_item">
        <span>数据增补条</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        <span id="lower_item_term_time">{{.TowerLower.RecoverTs}}</span>
        <span class="reward">{{.TowerLower.Current}}/{{.TowerLower.Max}}</span>
    </p>
    <progress id="lower_progress" max="{{.TowerLower.Max}}" value="{{.TowerLower.Current}}"></progress>
    <p id="higher_item">
        <span>数据增补仪</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        <span id="higher_item_term_time">{{.TowerHigher.RecoverTs}}</span>
        <span class="reward">{{.TowerHigher.Current}}/{{.TowerHigher.Max}}</span>
    </p>
    <progress id="higher_progress" max="{{.TowerHigher.Max}}" value="{{.TowerHigher.Current}}"></progress>
    <div style="display: flex;justify-content: space-around;margin-left: 810px;">
        <img id="campaign_icon" src="/assets/state/campaign.png">
        <span id="campaign">{{.Reward.Current}}/{{.Reward.Max}}</span>
    </div>
    <div style="display: flex; align-items: center">
        <img id="recruit_icon" src="/assets/state/recruit.png"/>
        <span id="recruit_title" class="title">公开招募</span>
        <span id="recruit" class="title">{{.Recruitment.Current}}/{{.Recruitment.Max}}</span>
    </div>
    <div style="display: flex; align-items: center">
        <img id="tired_chars_icon" src="/assets/state/tired_chars.png"/>
        <span id="tired_chars_title" class="title">干员疲劳</span>
        <span id="tired_chars" class="title">{{.TiredChars}}</span>
    </div>
    <div style="display: flex; align-items: center">
        <img id="tradings_icon" src="/assets/state/tradings.png"/>
        <span id="tradings_title" class="title">订单进度</span>
        <span id="tradings" class="title">{{.Trading.Current}}/{{.Trading.Max}}</span>
    </div>
    <div style="display: flex; align-items: center">
        <img id="manufactures_icon" src="/assets/state/manufactures.png"/>
        <span id="manufactures_title" class="title">制造进度</span>
        <span id="manufactures" class="title">{{.Manufacture.Current}}/{{.Manufacture.Max}}</span>
    </div>
    {{if .Training.CharIcon}}
        <img id="trainee" src="{{.Training.CharIcon}}"/>
        <p id="remain_secs_bg"></p>
        <p id="remain_secs">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
            {{.Training.LeftSeconds}}
        </p>
        <p id="building_name">训练室</p>
    {{end}}
</div>
<script charset="utf-8" src="/template/js/State.js"></script>
</body>
</html>